@use './var';
.row {
    display: flex;
    flex-wrap: wrap;
}
@each $name,$width in var.$breakpoints {
    @media(min-width:$width) {
        .container{
            width: if($width==0,100%,$width);
            margin: auto;
        }
        .container-#{$name}{
            // width: 100%;
            // max-width:$width;
            width:min(100%,$width);
            margin: auto;
        }

        @for $i from 1 through 12 {
            @if($name == 'xs'){
                .col-#{$i} {
                    flex:0 0 100% / 12 * $i;
                    padding: 15px;
                }
            }@else{
                .col-#{$name}-#{$i} {
                    flex:0 0 100% / 12 * $i;
                    padding: 15px;
                }
            }
        }
    }
}
@mixin xs {
    @media(min-width:map-get(var.$breakpoints, xs)) {
        @content;
    }
}

@mixin sm {
    @media(min-width:map-get(var.$breakpoints, sm)) {
        @content;
    }
}
@mixin md {
    @media(min-width:map-get(var.$breakpoints, md)) {
        @content;
    }
}
@mixin lg {
    @media(min-width:map-get(var.$breakpoints, lg)) {
        @content;
    }
}
@mixin xl {
    @media(min-width:map-get(var.$breakpoints, xl)) {
        @content;
    }
}