@use './var';
.row {
    display: flex;
    flex-wrap: wrap;
}
@each $name,$width in var.$breakpoints {
    @media(min-width:$width) {
        .container{
            width: $width;
            margin: auto;
        }
        @for $i from 1 through 12 {
            @if($name == 'xs'){
                .col-#{$i} {
                    flex:0 0 100% / 12 * $i;
                    padding: 15px;
                }
            }@else{
                .col-#{$name}-#{$i} {
                    flex:0 0 100% / 12 * $i;
                    padding: 15px;
                }
            }
        }
    }
}