$colors:(
    red: #ff3838,
    green: #2a9400,
    blue:#0077ff,
    orange:#ff9838,
    dark:#181818,
    light:#f3f3f3,
    black:#000,
    white:#fff,
);
$breakpoints:(
    xs: 0,
    sm: 600px,
    md: 1024px,
    lg: 1200px,
    xl: 1600px
);
$displays:none inline inline-block block flex table table-cell flow-root ;
$positions: static relative absolute fixed sticky;
