$bgColor: #098;

body {
    background-color: $bgColor;
}
a {
    &:hover {
        color: #000;
    }
    &:foucs {
        color: #123;
    }
    &::after {
        content: "";
    }
}

@for $i from 1 through 12 {
    .box-#{$i} {
        width: 100% / 12 * $i;
    }
}

$colors: red green blue;
@each $color in $colors {
    .bg-#{$color} {
        background-color: $color;
    }
}
$cols: 12;
$breakpoints: (
    "none":0,
    "sm": 520px,
    "md": 960px,
    "lg": 1200px,
    "xl": 1600px,
);

@each $name, $width in $breakpoints {
    .box-#{$name} {
        width: $width;
    }
}
.container {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
@each $name, $width in $breakpoints {
    @media (min-width: $width) {
        @if($name == 'none'){
            .container {
                width: 100%;
            }
        }
        @else{
            .container {
                width: $width;
                margin: auto;
            }
        }
        
        @for $i from 1 through $cols {
            @if($name == 'none'){
                .col-#{$i} {
                    flex: 0 0 100% / $cols * $i;
                }
            }
            @else{
                .col-#{$name}-#{$i} {
                    flex: 0 0 100% / $cols * $i;
                }
            }
        }
    }
}
@mixin box($w,$h,$c) {
    width: $w;
    height: $h;
    background-color: $c;
}

.box {
    @include box(300px,250px,red);
}