$primary: #098;
$text: #eee;
body {
    background-color: $primary;
    color: $text;
    font-family: 'Segoe UI';
    // background-image: url('./images/001.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-size: 4rem;
}