<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <section>
            <h1>代辦項目</h1>
            <ul>
                <li v-for="list in lists.filter(data=>!data.isComplete)" :key="list.id">
                    <input type="checkbox" :id="list.name" v-model="list.isComplete">
                    <label :for="list.name">
                        {{list.name}}
                    </label>
                </li>
            </ul>
        </section>
        <section>
            <h1>已完成</h1>
            <ul>
                <li v-for="list in lists.filter(data=>data.isComplete)" :key="list.id">
                    <input type="checkbox" :id="list.name" v-model="list.isComplete">
                    <label :for="list.name">
                        {{list.name}}
                    </label>
                </li>
            </ul>
        </section>
        <section>
            <h1>已完成(v-if)</h1>
            <ul>
                <template v-for="list in lists"  :key="list.id">
                    <li v-if="list.isComplete">
                        <input type="checkbox" :id="list.name" v-model="list.isComplete">
                        <label :for="list.name">
                            {{list.name}}
                        </label>
                    </li>
                </template>
            </ul>
        </section>
        <pre>
            {{
                lists   
            }}
        </pre>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    lists:[
                        {id:1,name:'發票寄限掛',isComplete:false},
                        {id:2,name:'洗衣服',isComplete:false},
                        {id:3,name:'網站輪播處裡',isComplete:false},
                        {id:4,name:'買晚餐',isComplete:false},
                    ]
                }
            }
        }).mount('#app');
    </script>
</body>
</html>