<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <div>{{input}}</div>
        <ul>
            <li v-for="user in users" :key="user.id">
                {{user.name}}
            </li>
        </ul>
    </div>
    <script>
        const {ref, reactive , createApp} = Vue;
        const App = {
            setup(){
                const users = ref([
                    {
                        id: '1',
                        name: 'John'
                    },
                    {
                        id: '2',
                        name: 'Mary'
                    }
                ]);
                const input = ref('test');
                return { users, input} 
            },
        }
        createApp(App).mount('#app');
    </script>
</body>
</html>