<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <div>{{input}}</div>
        <ul>
            <li v-for="user in users" :key="user.id">
                {{user.name}}
            </li>
        </ul>
        <button @click="addUser()">click</button>
        <div>目前人數:{{totalUser}}</div>
    </div>
    <script>
        const {ref, reactive , createApp,computed} = Vue;
        const App = {
            setup(){
                
                const input = ref('');
                // ref
                // const users = ref([
                //     {
                //         id: '1',
                //         name: 'John'
                //     },
                //     {
                //         id: '2',
                //         name: 'Mary'
                //     }
                // ]);
                // const addUser = () => {
                //     users.value.push({
                //         id: users.value.length + 1,
                //         name: input.value
                //     })
                //     console.log(users)
                // }

                // reactive
                const users = reactive([
                    {
                        id: '1',
                        name: 'John'
                    },
                    {
                        id: '2',
                        name: 'Mary'
                    }
                ]);
                const addUser = ()=>{
                   users.push({id:users.length + 1,name: input.value});
                   input.value = '';
                   console.log(users);
                }

                const totalUser = computed(() => {
                    return users.length;
                });

                return { users, input, addUser, totalUser} 
            },
        }
        createApp(App).mount('#app');
    </script>
</body>
</html>